$mat-primary: (
    50 : #ffeaea,
    100 : #ffcbcb,
    200 : #ffa9a9,
    300 : #ff8787,
    400 : #ff6d6d,
    500 : #ff5353,
    600 : #ff4c4c,
    700 : #ff4242,
    800 : #ff3939,
    900 : #ff2929,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd6d6,
    A700 : #ffbdbd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-accent: (
    50 : #e7e8ea,
    100 : #c4c6cb,
    200 : #9da0a8,
    300 : #757a85,
    400 : #585e6b,
    500 : #3a4151,
    600 : #343b4a,
    700 : #2c3240,
    800 : #252a37,
    900 : #181c27,
    A100 : #6d91ff,
    A200 : #3a6bff,
    A400 : #0745ff,
    A700 : #003bec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-tritary: (
    50 : #fff6eb,
    100 : #fee9ce,
    200 : #fedbad,
    300 : #fecc8c,
    400 : #fdc173,
    500 : #fdb65a,
    600 : #fdaf52,
    700 : #fca648,
    800 : #fc9e3f,
    900 : #fc8e2e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe8d6,
    A700 : #ffdabd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-alert: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$color-primary: map-get($mat-primary, 500);
$color-accent: map-get($mat-accent, 500);
$color-tritary: map-get($mat-tritary, 500);
$color-alert: map-get($mat-alert, 500);
