@import './../../../assets/scss/variables.scss';

.notification{
  &__success{
    color: $color-tritary;
    &::after{
      content: '✔️';
    }
  }
  &__fail{
    color:$color-alert;
    &::after{
      content: '❌';
    }
  }
}
