
.details-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 25% auto;
  padding: 2rem;
  background: aliceblue;
  &__form-field{
    flex-basis: 100%;
    flex-grow: 1;

    &__label{
      font-size: 1rem;
    }
    &__input{
      font-size: 1rem;
    }
  }
}
