<div class="container">
  <div class="row">
<form class="details-form">
  <mat-form-field class="details-form__form-field">
    <mat-label class="details-form__form-field__label">First name</mat-label>
    <input class="details-form__form-field__input" matInput placeholder="please enter first name" value="">
  </mat-form-field>
  <mat-form-field class="details-form__form-field">
    <mat-label class="details-form__form-field__label">Last name</mat-label>
    <input class="details-form__form-field__input" matInput placeholder="please enter last name" value="">
  </mat-form-field>
  <button mat-flat-button color="primary">Save details</button>
</form>
</div>
</div>
